[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
psycopg2 = "*"
flask-migrate = "*"
pyjwt = "*"
py-bcrypt = "*"
flask-cors = "*"
sqlalchemy-seeder = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
